@use "base/variables" as v;
@use "base/mixins" as mx;

.barra_nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .logo_nav {
    margin: 2rem 0 0 0;
    width: 13rem;

    img {
      height: auto;
    }

    &::before {
      content: "";
      border-right: 0.2rem solid v.$primario;
      height: 10rem;
      padding-left: 5rem;
      display: inline-block;
      position: absolute;
      left: 9rem;

      @include mx.tablet {
        height: 10rem;
        left: 18%;
      }
    }
  }

  .contenedor_nav {
    .icono_menu {
      background-color: rgba(219, 206, 17, 0.23);
      color: v.$primario;
      cursor: pointer;
      padding: 1rem;
      border-radius: 0.5rem;

      &:hover {
        background-color: rgba(219, 206, 17, 0.33);
      }

      i {
        font-size: 4rem;
      }
    }

    #back_menu {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      display: none;
      background: rgba(0, 0, 0, 0.33);
      z-index: 10;
    }

    .nav_opciones {
      position: fixed;
      top: 0;
      right: -25rem;
      background: v.$oscuroSecundario;
      width: 25rem;
      height: 100vh;
      z-index: 20;
      transition: all 300ms ease-in-out;
      padding: 2rem 1rem;

      ul {
        display: flex;
        flex-direction: column;
        margin: 4rem 0;
        padding: 0;

        li {
          list-style: none;
          margin-top: 2rem;

          a {
            color: v.$primario;
            text-decoration: none;

            &:hover {
              border-bottom: 0.5rem solid v.$primario;
              padding-bottom: 0.4rem;
              transition: all 300ms;
            }
          }
        }
      }

      &.active {
        right: 0;
      }
    }

    @include mx.tablet {
      .icono_menu {
        display: none;
      }

      .nav_opciones {
        position: static;
        width: auto;
        height: auto;
        background: none;
        display: flex;
        align-items: center;

        ul {
          flex-direction: row;
          justify-content: space-between;
          width: 100%;
          margin: 0;
          font-size: 1.8rem;

          li {
            margin: 0 1rem;
          }
        }
      }
    }
  }
}
