@use 'base/variables' as v;
@use 'base/mixins' as mx;

.fondo_footer {
    background: rgb(0, 0, 0);
    background: -moz-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(41, 41, 41, 1) 100%);
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(41, 41, 41, 1) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(41, 41, 41, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000", endColorstr="#292929", GradientType=1);

    .footer {
        padding: 4rem 0 2rem 0;
        align-items: center;
        @include mx.grid(1, 1rem);

        @include mx.tablet {
            @include mx.grid(2, 3rem);
        }

        @include mx.desktop {
            @include mx.grid(3, 0 4rem);
        }

        .acercaDe_footer {
            text-align: center;
            color: v.$primario;

            a {
                color: v.$primario;
                margin: 2rem 0 0 0;
                display: block;
                &:hover{
                    text-decoration: underline;
                }
            }

            p {
                margin: 0;
                color: v.$gris;
            }
        }

        .logo_footer {
            display: flex;
            justify-content: center;
            align-items: center;

            @include mx.tablet {
                grid-row: span 2;
            }

            picture {
                display: flex;

                img {
                    max-width: 10rem;
                    height: 50%;
                    margin: 0 auto;

                    @include mx.tablet {
                        max-width: 20rem;
                    }

                    @include mx.desktop {
                        max-width: 15rem;
                    }
                }
            }
        }

        .redes_footer {
            margin: 0 auto;

            .contenedorRedes {
                margin: 0 auto;
                display: flex;
                gap: 2rem;
                justify-content: space-around;

                .redSocial {
                    .circulo_R {
                        margin: auto;
                        @include mx.circulo_R(3.5rem, 3.5rem, 2.5rem);

                        @include mx.tablet {
                            @include mx.circulo_R(5rem, 5rem, 3.5rem);
                        }
                    }

                    p {
                        color: v.$primario;
                    }
                }
            }
        }
    }

    .linea_footer {

        hr {
            color: v.$primario;
            margin: 0 0 3rem 0;
            border: solid .1rem;
        }
    }

    .contenedor_creador {
        padding-bottom: 4rem;

        h3 {
            color: v.$primario;
            font-size: 1.6rem;
            margin: 0;
            text-align: center;
            font-weight: v.$bold;
        }

        p {
            margin: 0;
            color: v.$gris;
            text-align: center;
        }
    }
}
.floating-wpp-message{
    color: v.$negro;
}