<footer class="fondo_footer">
  <div class="contenedor">
    <div class="footer">
      <div class="acercaDe_footer">
        <a href="/sobre_nosotros">Sobre nosotros</a>
        <a href="/contactanos">Contáctenos</a>
      </div>
      <div class="logo_footer">
        <a href="/">
          <picture>
            <source
              srcset="../build/img/imgP/InmoBilink.webp"
              type="image/webp"
            />
            <source
              srcset="../build/img/imgP/InmoBilink.avif"
              type="image/avif"
            />
            <source
              srcset="../build/img/imgP/InmoBilink.png"
              type="image/png"
            />
            <img
              loading="lazy"
              src="../build/img/imgP/InmoBilink.png"
              alt="Logo InmoBilink"
              width="600"
              height="400"
            />
          </picture>
        </a>
      </div>
      <div class="redes_footer">
        <div class="contenedorRedes">
          <div class="redSocial">
            <a href="#">
              <div class="circulo_R">
                <i class="bx bxl-facebook" style="color: #ffffff"></i>
              </div>
              <p>Facebook</p>
            </a>
          </div>
          <div class="redSocial">
            <a href="#">
              <div class="circulo_R">
                <i class="bx bxl-instagram-alt" style="color: #ffffff"></i>
              </div>
              <p>Instagram</p>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="linea_footer">
      <hr />
    </div>
    <div class="contenedor_creador">
      <div class="contenedor_principal">
        <h3>Creado por InmoBilink - Codexius</h3>
        <p>Copyright 2024 &copy;</p>
      </div>
    </div>
  </div>
</footer>
